body{
padding:0;
margin:0;
font-family: 'Raleway', sans-serif;
}
header{   
  position:sticky;
	color:black;
	padding-top:10px;
}

header a{
  color:#000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  font-size:6px;
  float: left;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  font-weight:bold;
  color:#1f3f68;
}

header a:hover{
  color:#1f3f68;
  font-weight:bold;
}
.home{
  height:auto;
}
.grid{
  padding-top:2%;
  margin-bottom: 20%;
  display: grid;
  grid-gap: 90px;
  grid-template-columns: auto auto;
  width:100%;
}
.grid .headline{
  padding-top: 20%;
  padding-left: 60px;
  font-weight: 900;
}
.descimg{
  padding-top: 80px;
  padding-right: 40px;
  height:400px;
  width:  500px;

}
.headline{
  font-size: 55px;  
  color: #1f3f68;
}
.button{
  text-align: center;
  color: white;
  background: #1f3f68;
  width:100px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 60px;
  font-size: 10px;
  text-transform: uppercase;
}
.portfolio{
  height:auto;
}
.porthead{
  text-align: center;
  color:#1f3f68;

}

.grid2{
  padding-top: 20px;
  padding-left:17%;
  padding-right:12%;
  padding-bottom: 130px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto ;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height:350px;
  width:300px;
  text-align: center;
}
.card h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
}

.it{
  font-size: 13px;
  padding: 5px;
  
}
.it2{
  font-weight: 900;;
  font-size: 15px;
  color: #555;
  text-transform: uppercase;
}
.card p{
  margin-top: 0;
  color:#808080;
}

p.title {
  color: grey;
  font-size: 12px;
  
}


.contact{
  width:100%;
  height:auto;
  background-color: #000;
}
.it{
font-style: italic;
color:grey;
}
ca{
  font-size:70px;
}
@media only screen and (max-width: 900px) {
  .grid2{
    padding-top: 130px;
    
    padding-left:8%;
    padding-bottom: 130px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto ;
  }
  .grid{
    padding-top:100px;
    display: grid;
    grid-gap: 150px;
    grid-template-columns: auto;
    width:100%;
  }
}
@media only screen and (max-width: 800px) {
  .grid2{
    padding-top: 130px;
    padding-left:8%;
    padding-bottom: 130px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto ;
  }
@media only screen and (max-width: 600px) {
  .grid2{
    padding-top: 130px;
    padding-left:8%;
    padding-bottom: 130px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto ;
  }
  
}